{% extends 'base.html' %}

{% block title%}
<title>All users</title>
{% endblock title%}

{% block content %}
<table class="u-full-width">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>email</th>
            </tr>
        </thead>
        <tbody>
            {% for user in  users %}
            <tr>
                <td>{{ user.name }}</td> 
                <td>{{ user.phone }}</td> 
                <td>{{ user.email }}</td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Delete User:</h2>
    <form class =hidden action="{{ url_for(".all_users") }}" method = "POST">
        {{ form.hidden_tag() }}
        {{ form.users.label }}{{ form.users()}}
        <input type="submit" name="delete_users" id="delete_users" value = "Go">
    </form>
{% endblock content %}

