{% extends 'base.html' %}

{% block title%}
<title>About Us</title>
{% endblock title%}

{% block content %}
<div class="container" id="about">
    <div>
        <h4>Tim Schoen</h4>
        <img src="./assets/tim.jpg">
        <h5>Software Developer</h5>
        <p>Passionate,  dedicated, team player.</p>
        <p> Software Devloper that utilizes a creative, entrepreneurial mindset with the ability for everyday learning. Excited about data analysis to help businesses grow. </p>
    </div>
    <div>
        <h4>Milo Anderson</h4>
        <img src="./assets/milo.jpg">
        <h5>Software Developer</h5>
        <p>I have a background in music, journalism, and social sciences, and a philosophical commitment to pragmatism. Coding gives me a way to make the world better, while experiencing the fun and camaeraderie that comes from solving tough problems as part of a team.</p>
    </div>
    <div>
        <h4>Dan Le</h4>
        <img src="./assets/dan.png">
        <h5>Software Developer</h5>
        <p>Python developer with a geology background, experience in leadership and quality assurance. Passionate and interested about Data Analytics.</p>
    </div>
</div>
{% endblock content %}

