{% extends "base.html" %}
{% block title %}
<title>Order Page</title>

{% endblock title %}
{% block content %}
<div class="container">
    <h2> Py Cafe Menu</h2>
    <table class="u-full-width">
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in  items %}
            <tr>
                <td>{{ item.name }}</td> <!-- Item Name from table-->
                <td>{{ item.price }}</td> <!-- Item price from table-->
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="{{ url_for(".order") }}" method="POST">
        {{ form.hidden_tag() }}
        {{ form.number_ordered.label }}{{ form.number_ordered}}
        <input type="submit" name="OrderForm" id="OrderForm" value="Go">
        
        {{ form.items.label }} {{ form.items() }}
    </form>
</div>
{% endblock content %}