{% extends "base.html" %}
{% block title %}
<title>Order Page</title>

{% endblock title %}
{% block content %}
<div class="container" id="orders">
    <h2> Py Cafe Menu</h2>
    <table id="items-table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in  items %}
            <tr>
                <td>{{ item.name }}</td> <!-- Item Name from table-->
                <td>{{ item.price }}</td> <!-- Item price from table-->
                <td v-on:click="addToOrder($event)"
                    class="order-select"
                    data-id="{{ item.id }}" 
                    data-name="{{ item.name }}" 
                    data-price="{{ item.price }}">Add</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <table id="order-items-table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in orderItems">
                <td>[[ item.name ]]</td>
                <td>[[ item.price ]]</td>
                <td v-on:click="removeFromOrder($event)" 
                    v-bind:data-id="item.id">Remove</td>
            </tr>
            <tr>
                <td>Total Price:</td>
                <td>[[ totalPrice ]]</td>
            </tr>
        </tbody>
    </table>
                <form action="{{ url_for(".order") }}" method="POST">
                    {{ form.hidden_tag() }}
                    {{ form.item_ids.label }} {{ form.item_ids }}
                    <input type="submit" value="Go">
                </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="{{ url_for("static", filename="js/app.js") }}"></script>
{% endblock content %}