
body{
    margin-left: 5%;
}
#pycafe{
}
.order-select {
    cursor: pointer;
}

#orders {
    display: grid;
    grid-template-columns: fr fr;
}

#items-table {
    grid-column-start: 0;
}

li {

    text-decoration: none;
    display: inline-block;
    margin-bottom: 5%;
    color:red;  
}
h1{
    margin-top:5%;
}